db.sqlite3
__pycache__
*.pyc
.gitignore~
geckodriver.log
home.html~
lists/templates/#list.html#
.#list.html
list.html~
#geckodriver.log#
.#geckodriver.log
..gitignore.swp
geckodriver.log~
lists/urls.py~
lists/templates/base.html~
bootstrap.zip
.gitignore.save
superlists/#settings.py#
superlists/.#settings.py
functional_tests/test_layout_and_styling.py~
functional_tests/test_list_item_validation.py~
functional_tests/test_simple_list_creation.py~
lists/tests/test_models.py~
lists/forms.py~
lists/tests/test_forms.py~
